<div>
  <ul>
    <li>
      <a
        href="https://material.angular.io/"
        target="_blank"
        matTooltip="Angular Material 11.0.3"
      >
        <fa-icon
          [icon]="['fab', 'angular']"
          style="z-index: 1; color: rgba(221, 32, 32, 0.87)"
        ></fa-icon
      ></a>
    </li>
    <li>
      <a
        href="https://github.com/andrewmassart"
        target="_blank"
        matTooltip="My Github"
      >
        <fa-icon
          [icon]="['fab', 'github-alt']"
          style="z-index: 1; color: rgba(18, 18, 18, 0.856)"
        ></fa-icon
      ></a>
    </li>

    <li>
      <a
        href="https://www.linkedin.com/in/andrew-massart-46305a6a"
        target="_blank"
        matTooltip="LinkedIn"
      >
        <fa-icon
          [icon]="['fab', 'linkedin']"
          style="z-index: 1; color: #0e76a8"
        ></fa-icon
      ></a>
    </li>
    <li>
      <a
        href="https://github.com/andrewmassart/fitness-tracker"
        target="_blank"
        matTooltip="This code repository"
      >
        <fa-icon
          [icon]="['fas', 'code-branch']"
          style="z-index: 1; color: rgba(142, 49, 195, 0.712)"
        ></fa-icon>
      </a>
    </li>
    <li>
      <a
        href="https://releases.ubuntu.com/18.04.5/?_ga=2.1878129.1364286879.1610154378-1492229975.1610154378"
        target="_blank"
        matTooltip="Created on: Ubuntu 18.04"
      >
        <fa-icon
          [icon]="['fab', 'ubuntu']"
          style="z-index: 1; color: #f75421"
        ></fa-icon
      ></a>
    </li>
  </ul>
</div>
