a,
.icon-link {
  text-decoration: none;
  color: #e8f9fd;
}

a:hover {
  cursor: pointer;
  color: #b3cdd4;
}

.nav-items {
  list-style: none;
  padding: 0;
  margin: 0;
}

.side-nav-links {
  display: inline-block;
  padding-left: 6px;
}
