<mat-toolbar
  color="primary"
  class="mat-elevation-z7"
  fxLayout
  fxLayoutGap="10px"
>
  <div fxHide.gt-xs>
    <button
      class="icon-link"
      mat-icon-button
      [ngStyle]="{ 'line-height': 0 }"
      (click)="showSidenav()"
    >
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div><a routerLink="/">NG-Fitness</a></div>
  <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
    <ul fxLayout fxLayoutGap="10px" class="nav-items">
      <li *ngIf="!isAuth"><a routerLink="/signup">Signup</a></li>
      <li *ngIf="!isAuth"><a routerLink="/login">Login</a></li>
      <li *ngIf="isAuth"><a routerLink="/training">Training</a></li>
      <li *ngIf="isAuth"><a (click)="onLogout()">Logout</a></li>
    </ul>
  </div>
</mat-toolbar>
