a,
.icon-link {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.904);
}

a:hover {
  cursor: pointer;
  color: rgba(255, 255, 255, 0.65);
}

.nav-items {
  list-style: none;
  padding: 0;
  margin: 0;
}

.side-nav-links {
  display: inline-block;
  padding-left: 6px;
}
