<div
  class="welcome"
  fxLayout="column"
  fxLayout.gt-md="row"
  fxLayoutGap.gt-md="20px"
  fxLayoutAlign="space-evenly center"
>
  <section>
    <h1>Welcome</h1>
    <mat-divider></mat-divider>
    <br />

    This portfolio app was made to practice Angular, Github and Material Designs
    <ul>
      <li>
        The login component was created to learn the fundamentals of Firebase
        authority rules and conditionally showing content in angular. You can
        log in with the test email to avoid signing up. The forms are all
        validated through angular and have appropriate errors.<br />
        test email: test@test.com<br />
        test password: serser
      </li>
      <li>
        The app is reactive to small screens. Below the resolution of 600 pixels
        the toolbar links are replaced with a menu icon. The icons in the footer
        correspond to the web technologies used to create app the code
        repositories and my Linked in page.
      </li>
      <li>
        The exercises are in on firebase and their are 4 to choose from they
        each have a duration in seconds. The seconds are converted to a
        percentage on the screen output and each "step" fills the progress
        spinner incrementally
      </li>
      <li>
        The data table has sortable headers and a filter input. All users share
        the data pool so no one has to wait for exercises to finish to use the
        filter or sort headers
      </li>
      <li>
        The icons in the footer correspond to the web technologies used to
        create app the code repositories and my Linked in page. Please contact
        me via the following:
      </li>
    </ul>
    <div>
      <a
        href="https://my.indeed.com/p/andrewm-q4p8js7"
        target="_blank"
        matTooltip="Resume"
        matTooltipPosition="right"
        >Resume</a
      >&nbsp;
      <a
        href="mailto:amassart@asu.edu?subject = Feedback&body = Message"
        target="_blank"
        matTooltip="Email Address"
        matTooltipPosition="right"
        >Email</a
      >
    </div>
  </section>
</div>
