@import "~@angular/material/theming";

@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$my-app-primary: mat-palette($mat-gray, 800);
$my-app-accent: mat-palette($mat-brown, 600);

// The warn palette is optional (defaults to red).
$my-app-warn: mat-palette($mat-amber, 400);

$my-app-theme: mat-dark-theme(
  (
    color: (
      primary: $my-app-primary,
      accent: $my-app-accent,
      warn: $my-app-warn,
    ),
  )
);

@include angular-material-theme($my-app-theme);
